{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th class=text-left scope="col">symbol</th>
                <th class=text-left scope="col">name</th>
                <th class=text-right scope="col">shares</th>
                <th class=text-right scope="col">price</th>
                <th class=text-right scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for transactions in transactions %}
            <tr>
                <td class=text-left>{{transactions["stocksymbol"]}}</td>
                <td class=text-left>{{transactions["stockname"]}}</td>
                <td class=text-right>{{transactions["sum(shares)"]}}</td>
                <td class=text-right>{{transactions["price"]}}</td>
                <td class=text-right>{{transactions["total"]}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td class=text-left>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td class=text-right>{{cash}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class=text-right><b>{{totalValue}}</b></td>
            </tr>
        </tbody>

    </table>
{% endblock %}

